<!DOCTYPE html>
<html ng-app>
	<head>
		<title>ng-repeat</title>
	</head>
	<body>
		<div ng-init="people=[{name: 'Chirag', city: 'New Delhi', age: 21},
                          {name: 'Ayushi', city: 'New Delhi', age: 18},
                          {name: 'Heer', city: 'California', age: 1}]
                          ">
			<h3>Iterating over the names using ng-repeat</h3>
			<ul>
				<li ng-repeat="person in people">{{ person.name }} is from {{ person.city }} and is {{ person.age }} years old</li>
			</ul>
		</div>

		<table>
			<tr>
				<th>Name</th>
				<th>City</th>
				<th>Age</th>
			</tr>
			
			<tr ng-repeat="person in people">
				<td>{{ person.name }}</td>
				<td>{{ person.city }}</td>
				<td>{{ person.age }}</td>
			</tr>
		</table>
		<script type="text/javascript" src="js/angular.js"></script>
	</body>
</html>