<!DOCTYPE html>
<html ng-app>
	<head>
		<title>Order Data</title>
		<style type="text/css">
		td {
			padding: 1em; 
		}
		table, td, tr, th {
			border: 1px solid grey;
			color: black;
			font-family: sans-serif;
		}
		</style>
	</head>
	<body ng-init="customers=[{joined: '2009-12-02', name: 'Noor', city: 'California', orderTotal: '101' },
	                          {joined: '2010-12-02', name: 'Chirag', city: 'New Delhi', orderTotal: '101' },
	                          {joined: '2011-12-02', name: 'Ayushi', city: 'New Delhi', orderTotal: '101' },
	                          {joined: '2012-12-02', name: 'Heer', city: 'California', orderTotal: '101' },
	                        ]">
		<h2>Customers</h2>
		Filter: <input type="text" ng-model="customerFilter.name" />
		<br /><br />
		<table>
			<tr>
				<th ng-click="sortBy='name';reverse=!reverse">Name</th>
				<th ng-click="sortBy='city';reverse=!reverse">City</th>
				<th ng-click="sortBy='orderTotal';reverse=!reverse">Order</th>
				<th ng-click="sortBy='joined';reverse=!reverse">Joined</th>
			</tr>

			<tr ng-repeat="cust in customers | filter:customerFilter | limitTo:10 | orderBy:sortBy:reverse ">
				<td>{{ cust.name | uppercase }}</td>
				<td>{{ cust.city }}</td>
				<td>{{ cust.orderTotal | currency }}</td>
				<td>{{ cust.joined | date: 'MM-dd-yyyy' }}</td>
			</tr>
		</table>
		<script type="text/javascript" src="js/angular.js"></script>
	</body>
</html>