<h2>Customers</h2>
Filter Results: <input type="text" ng-model="filterCustomers.name">

<table>
	<tr>
		<th ng-click="sortBy='name'; reverse=!reverse">Name</th>
		<th ng-click="sortBy='orderTotal'; reverse=!reverse">Order Total</th>
		<th ng-click="sortBy='city'; reverse=!reverse">City</th>
		<th ng-click="sortBy='joinedDate'; reverse=!reverse">Joined Date</th>
		<th>&nbsp;</th>
	</tr>
	<tr ng-repeat="customer in customers | filter: filterCustomers | limitTo: 4 | orderBy:sortBy:reverse">
		<td>{{customer.name | uppercase}}</td>
		<td>{{customer.orderTotal | currency: 'Rs. '}}</td>
		<td>{{customer.city | lowercase}}</td>
		<td>{{customer.joinedDate | date: 'dd/MM/yyyy'}}</td>
		<td><a href="#/orders/{{customer.id}}">View Order</a></td>
	</tr>
	<tr>
		<td colspan='4'>Total Customers</td>
		<td>{{customers.length}}</td>
	</tr>
</table>